html{
    height: 100%;
}
.wrapper{
    display: flex;
    min-height: 100%;
    flex-direction: column;
    
}
header{
    background-color: #EEEFF1;;
}
body{
    height: 100%;
    margin: 0;
    
}
footer{
    margin-top: auto;
}
.header-top{
    display: flex;
    justify-content: center;
    margin-top: 56px;

}
nav{

}
nav ul{
    padding: 0%;    
}
nav ul li{
    display: inline;
}
nav ul li:not(:last-child){
    padding-right: 42px;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000000;
}
nav ul li a:hover{
    color: #34547A;
}
.logo{
    margin-right: 398px;
}
.header-base{
    margin-top: 145px;
    display: flex;
    
}
.laptop{
    padding-top: 17px;
    margin-right: 130px;
    margin-left: 276px;
}
.header-speach{
    
}
.header-speach h1{
    margin: 0%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    
    color: #000000;
} 
.header-speach h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 540px;
    color: #727272;
    margin: 0%;
    padding-top: 30px;
    padding-bottom: 60px;
} 
#laptop{
    width: 357px;
}
button{
    width: 225px;
    height: 64px;
    margin-bottom: 145px;
    border: 0ch;
    background-color: #34547A;;
    color: #FFFFFF;
}
button:hover{
    cursor: pointer;
}
.main-about{
    justify-content: center;
    text-align: center;
}
.main-about h2{
    margin-top: 120px;
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}
.main-about h3{
    margin: auto;
    width: 540px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-bottom: 113px;
}
.main-projects{
    background-color: #34547A;
    min-height: 250px;
    display: flex;
    justify-content: baseline;
    text-align: justify;
}
.main-projects img{
    width: 50px;
    margin: auto;
}
.{

}
