html{
    height: 100%;
}
.wrapper{
    display: flex;
    min-height: 100%;
    flex-direction: column;
    
}
body{
    height: 100%;
    margin: 0;
    
}
footer{
    margin-top: auto;
}
.header-top{
    display: flex;
    justify-content: center;
    margin-top: 56px;

}
nav{

}
nav ul{
    padding: 0%;    
}
nav ul li{
    display: inline;
}
nav ul li:not(:last-child){
    padding-right: 42px;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000000;
}
nav ul li a:hover{

    color: #34547A;
}
.logo{
    margin-right: 398px;
}